@model IEnumerable<APPR6312_POE_Web_Application.Models.TblAllocateGoods>

@{
    ViewData["Title"] = "ViewAllocatingGoods";
}

<style>
    /*Hiding navbar (W3Schools, 2023)*/
    .navbar {
        visibility: hidden;
    }

    /*Hiding footer (W3Schools, 2023)*/
    footer {
        visibility: hidden;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Styling the navigation menu (W3Schools, 2023)*/
    .topnav {
        width: 100%;
        background-image: linear-gradient(to left, #FF3300, #800080);
        overflow: auto;
        margin: 0; /*Removing default margin */
        padding: 0; /*Removing default padding */
    }

        /*Navigation links (W3Schools, 2023)*/
        .topnav a, .topnav p {
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            width: 12.5%; /*Six equal-width links (W3Schools, 2023)*/
            text-align: center;
            box-sizing: border-box; /*Including padding and border in the element's total width (W3Schools, 2023)*/
            margin: 0; /*Removing any margin (W3Schools, 2023)*/
            line-height: 1; /*Reseting line height to eliminate extra space (W3Schools, 2023)*/
        }

            /*Adding a background color on mouse-over (W3Schools, 2023)*/
            .topnav a:hover {
                background-color: #FF3300;
            }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: center;
        padding: 20px;
    }

    th {
        background-color: #800080;
        color: white;
    }

    .btn {
        padding: 2px 6px;
        font-size: 15px;
        color: white;
        background: #800080;
        border: none;
        border-radius: 5px;
    }

        .btn:hover {
            background: #FF3300;
        }

    .header {
        width: 100%;
        margin: 50px auto 0px;
        color: white;
        background: #800080;
        text-align: center;
        border: 1px solid #FF3300;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        padding: 20px;
    }

    /*The dropdown container (W3Schools, 2023)*/
    .topnav_dropdown {
        float: left;
        text-align: center;
        overflow: hidden;
    }

        /* Dropdown button */
        .topnav_dropdown .topnav_dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit; /*Important for vertical align on mobile phones (W3Schools, 2023)*/
            margin: 0; /*Important for vertical align on mobile phones (W3Schools, 2023)*/
        }

        /*Add a red background color to navbar links on hover (W3Schools, 2023)*/
        .topnav a:hover, .topnav_dropdown:hover .topnav_dropbtn {
            background-color: red;
        }

    /*Dropdown content (hidden by default) (W3Schools, 2023)*/
    .topnav_dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 115px;
    }

        /*Links inside the dropdown (W3Schools, 2023)*/
        .topnav_dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            /*Add a grey background color to dropdown links on hover (W3Schools, 2023)*/
            .topnav_dropdown-content a:hover {
                background-color: #ddd;
            }

    /*Show the dropdown menu on hover (W3Schools, 2023)*/
    .topnav_dropdown:hover .topnav_dropdown-content {
        display: block;
    }

    .footer1 {
        text-align: center;
        padding: 3px;
        background-image: linear-gradient(to left, #FF3300, #800080);
        color: white;
    }
</style>

<!--Navigation bar with links to other pages (W3Schools, 2023)-->
<nav class="topnav" id="myTopnav">
    <a asp-controller="Admin" asp-action="AdminHome">Home</a>
    <a asp-controller="Goods" asp-action="ViewGoods">Goods</a>
    <a asp-controller="Inventory" asp-action="ViewInventory">Inventory</a>
    <a asp-controller="Monetary" asp-action="ViewMonetary">Monetary</a>
    <a asp-controller="Disaster" asp-action="ViewDisaster">Disasters</a>
    <a asp-controller="Category" asp-action="ViewCategory">Categories</a>
    <div class="topnav_dropdown">
        <a style="float: left; padding: 12px; color: white; text-decoration: none; font-size: 16px; font-weight: bold; width: 12.5%; text-align: center; box-sizing: border-box; margin: 0; line-height: 1; width:100%;"
           class="dropbtn">
            Allocating
        </a>
        <div class="topnav_dropdown-content">
            <a style=" width: 100%;" asp-controller="AllocateGoods" asp-action="ViewAllocatingGoods">Allocating Goods</a>
            <a style=" width: 100%;" asp-controller="AllocateInventory" asp-action="ViewAllocatedInventory">Allocating Inventory</a>
            <a style=" width: 100%;" asp-controller="AllocateMoney" asp-action="ViewMoney">Allocating Money</a>
        </div>
    </div>

    <p><b>@DisplayUsername.passUsername</b></p>
</nav>

<br />

<div class="header">
    <!--The header is allocated on top of the form (W3Schools, 2023)-->
    <h1>View Allocated Goods</h1>
</div>

<br />

<p>
    <a asp-action="AllocatingGoods" class="btn">Allocate Goods</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disasters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGoods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disasters)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Goods)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfGoods)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <a asp-action="DetailsAllocatingGoods" asp-route-id="@item.AllocateGoodsID" class="btn">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="footer1">
    <p>
        Copyright ©2023 Disaster Alleviation Foundation. All rights reserved
    </p>
</div>