@{
    ViewData["Title"] = "Home Page";
}

<style>
    /*Hiding navbar (W3Schools, 2023)*/
    .navbar {
        visibility: hidden;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Styling the navigation menu (W3Schools, 2023)*/
    .topnav {
        width: 100%;
        background-image: linear-gradient(to left, #FF3300, #800080);
        overflow: auto;
        margin: 0; /*Removing default margin (W3Schools, 2023)*/
        padding: 0; /*Removing default padding (W3Schools, 2023)*/
    }

    /*Navigation links (W3Schools, 2023)*/
    .topnav a, .topnav p {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        width: 25%; /*Six equal-width links (W3Schools, 2023)*/
        text-align: center;
        box-sizing: border-box; /*Including padding and border in the element's total width (W3Schools, 2023)*/
        margin: 0; /*Removing any margin (W3Schools, 2023)*/
        line-height: 1; /*Reseting line height to eliminate extra space (W3Schools, 2023)*/
    }

    /*Adding a background color on mouse-over (W3Schools, 2023)*/
    .topnav a:hover {
        background-color: #FF3300;
    }

    /*Styling for the colored circle (W3Schools, 2023)*/
    .circle {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #800080;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: white;
        font-weight: bold;
        margin-right: 20px;
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-container > div {
        flex: 1;
        text-align: right;
    }

    .total-label {
        text-align: right;
        margin-right: 10px;
        flex: 1;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    .footer1 {
        text-align: center;
        padding: 3px;
        background-image: linear-gradient(to left, #FF3300, #800080);
        color: white;
    }
</style>

<!-- Navigation bar with links to other pages (W3Schools, 2023)-->
<nav class="topnav" id="myTopnav">
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="AboutUs">About us</a>
    <a asp-controller="Home" asp-action="ContactUs">Contact Us</a>
    <a asp-controller="Admin" asp-action="AdminLogin">Admin</a>
</nav>

<br />

<div class="text-center">
    <h1 class="display-4">Home</h1>
</div>

<br />
<br />

<p style="padding-right: 5%;padding-left: 5%; text-align: justify;">Welcome to the Disaster Alleviation Foundation, where our non-profit organization's unshakable aim is to provide practical support during times of need. We drive revolutionary change with diversified donor assistance by giving help ranging from real products to critical money. We place a premium on transparency, diligently documenting donations and their impact.  We welcome you to join us in creating a brighter future via consistent backing and positive global transformations.</p>

<br />

<div class="text-center">
    <h3 style="color: #800080;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;text-align: center;text-transform: uppercase;">Overview of Donations</h3>
</div>

<br />

<div style="overflow-x:auto;">
    <table style="border: 1px solid #800080;">
        <tr>
            <th style="border: 1px solid #800080;background-color:#800080;color:white;"><strong>Donations</strong></th>
            <th style="border: 1px solid #800080; text-align: center;background-color:#800080;color:white;"><strong>Totals</strong></th>
        </tr>
        <tr>
            <td style="width: 33.33%; border: 1px solid #800080;">Total Monetary Donations Received</td>
            <td style="width: 33.33%; border: 1px solid #800080;">
                <div style="background-color: #800080; padding: 5px; border-radius: 10px; text-align: center; color: white;">
                    <strong>R @ViewData["MonetaryAmount"]</strong>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33.33%; border: 1px solid #800080;">Total Number Of Goods Received</td>
            <td style="width: 33.33%; border: 1px solid #800080;">
                <div style="background-color: #800080; padding: 5px; border-radius: 10px; text-align: center; color: white;">
                    <strong>@ViewData["AllocatedGoodsSum"]</strong>
                </div>
            </td>
        </tr>
    </table>
</div>

<br />
<br />

<div class="text-center">
    <h3 style="color: #800080;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;text-align: center;text-transform: uppercase;"> Active Disasters & Allocations</h3>
</div>

<div style="overflow-x:auto;">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th style="width: 33.33%; text-align:center; border: 1px solid #800080;background-color:#800080;color:white;"><strong>Disaster</strong></th>
            <th style="width: 33.33%; text-align:center; border: 1px solid #800080;background-color:#800080;color:white;"><strong>Money Allocated</strong></th>
            <th style="width: 33.33%; text-align:center; border: 1px solid #800080;background-color:#800080;color:white;"><strong>Goods Allocated</strong></th>
        </tr>
        @foreach (var disaster in ViewBag.CurrentActiveDisasters)
        {
            <tr>
                <td style="width: 33.33%; text-align:center; border: 1px solid #800080;">@disaster.NameOfDisaster</td>
                <td style="width: 33.33%; text-align:center; border: 1px solid #800080;">R @disaster.AllocatedMoney</td>
                <td style="width: 33.33%; text-align:center; border: 1px solid #800080;">@ViewBag.AllocatedGoodsList[ViewBag.CurrentActiveDisasters.IndexOf(disaster)]</td>
            </tr>
        }
    </table>
</div>


<br />
<div class="footer1">
    <p>
        Copyright ©2023 Disaster Alleviation Foundation. All rights reserved
    </p>
</div>
